<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-title>Ruben Mejias Zapata</ion-title>
    <ion-title>Descripcion Aplicacion</ion-title>
    <ion-label id="info">Mi aplicacion trata de poder añadir, quitar o modificar aeropuertos de todo el mundo, 
      introduciendolos a una base de datos Firebase </ion-label>
  </ion-grid>
<br><br>
  <!-- Mapa -->
<div id="mapId" style="width:80%; height:70%; "></div> 
</ion-content>

<ion-toolbar>
  <ion-tabs id="tab">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" id="icons"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="information-circle" id="icons"></ion-icon>
        <ion-label>Informacion App</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>