ion-input{
    background-color: rgb(238, 234, 234);
}

ion-toolbar{
  --background:rgb(244, 255, 87);
  color:rgb(199, 248, 84);
}
.titulo{
  font-size: bold;

}
.c2{
  --background: rgb(255, 153, 0);
    color:rgb(255, 216, 110);

}
.c3{
  --background: rgb(250, 208, 174);

}