<ion-header [translucent]="true" class="c3">
  <ion-toolbar>
    <ion-title>
      AEROPUERTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="c1">

  <ion-card class="c3">
    <ion-card-header>
      <ion-card-title>PROYECTO FIREBASE - AEROPUERTOS</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-grid >

        <ion-row >
          <ion-col *ngFor="let documentAeropuerto of arrayColeccionAeropuertos"
            (click)="selecAeropuerto(documentAeropuerto)" size-xl="3" size-lg="3" size-md="4"
            size-sm="6" size-xs="12"> 

            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <h1>{{documentAeropuerto.data.nombre}}</h1>
                </ion-card-title>
                <ion-card-subtitle>
                  <h1><ion-text color="primary"></ion-text>{{documentAeropuerto.data.continente}}</h1>
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>


          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-fab-button class="añadir c2"  (click)="clickBotonInsertar()"> +</ion-fab-button>
</ion-content>