<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Proyecto Firestore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="aeropuertoEditando.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Continente</ion-label>
    <ion-input [(ngModel)]="aeropuertoEditando.continente"></ion-input>
  </ion-item>
  <ion-button (click)="clickBotonInsertar()">Añadir Aeropuerto</ion-button>

  <h1>LISTA DE AEROPUERTOS</h1>
  <ion-list>
    <ion-item *ngFor="let documentAeropuerto of arrayColeccionAeropuertos">
      <ion-grid>
        <ion-row>
          <h1>{{ documentAeropuerto.data.nombre }}</h1>
        </ion-row>
        

        <ion-row>
          <p>{{ documentAeropuerto.data.continente }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
