#container a {
  text-decoration: none;
}

.añadir{
  font-size: 300%;

  position: fixed;
  bottom: 20px;
  right: 30px;
}

ion-card{
  box-shadow: 0 0 10px rgb(251, 255, 0);
}

.c1{
  --background: rgb(250, 239, 81);

}

.c2{
  --background: rgb(94, 255, 0);


}
.c3{
  --background: rgb(250, 255, 180);

}