<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aeropuertos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de Aeropuertos</h1>
  <ion-grid> 
    <ion-row>
      <ion-col *ngFor="let documentAeropuerto of arrayColeccionAeropuertos" (click)="selecAeropuerto(documentAeropuerto)"
      size="12" size-md="4" size-lg="3">
        <ion-card>
          <img alt="{{documentAeropuerto.data.nombre}}" src="{{documentAeropuerto.data.imagen}}" width="100%"/>
          <ion-card-header>
            <ion-card-title>{{ documentAeropuerto.data.nombre }}</ion-card-title>
            <ion-card-subtitle>{{ documentAeropuerto.data.continente }}</ion-card-subtitle>
          </ion-card-header>        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab-button (click)="selecAeropuerto(false)" class="añadir">+</ion-fab-button>
  <ion-fab-button (click)="llamar()" class="llamada"><ion-icon name="call"></ion-icon></ion-fab-button>
  <ion-fab-button (click)="compartir()" class="compartir"><ion-icon name="share"></ion-icon></ion-fab-button>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" id="icons"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="information-circle" id="icons"></ion-icon>
        <ion-label>Informacion App</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
